html,
body,
ul,
li,
input{
  margin: 0;
  padding: 0;
}

ul,li,ol,dl {
  list-style: none;
}

body {
  background: #f6f6f8;  
}


@media screen and (max-device-width: 620px) {
  section{
    width:96%;padding:0 2%;
  }
}
@media screen and (min-width: 620px) {
  section{width:600px;padding:0 10px;}
}

section {
  margin: 0 auto;
}
